<main>
    <section class="form-section"> 
        <img src="/assets/images/twitter-logo.svg" alt="">
        <h2>{{title}}</h2>
        <ng-content></ng-content>
        <div class="btn-wrapper">
            <button class="btn-primary">{{primaryBtn}}</button>
            <div class="divider">
                <div></div>
                <span>OR</span>
                <div></div>
            </div>
            <button class="btn-secondary">{{secondaryBtn}}</button>
        </div>
    </section>
    <section class="main-section">
        
    </section>
</main>