<app-default-login-layout
    title="Happening now"
    primaryBtn="Login Now"
    secondaryBtn="Singup Now"
    (submit)="submit()"
    (navegator)="navegator()"
>
    <form [formGroup]="loginForm">
        <app-primary-input 
            formControlName="email"
            inputName="email"
            type="email"
            label="E-mail"
            placeholder="teste123@gmail.com"
        >
            <img src="/assets/images/email.svg" alt="">

        </app-primary-input>

        <app-primary-input 
            formControlName="password"
            inputName="password"
            type="password"
            label="Your Password"
        >
        <img src="/assets/images/password.svg" alt="">
    </app-primary-input>
    <span>Forget Password?</span>
    </form>
</app-default-login-layout>